<nav class="navbar navbar-default" id="nav-top">
  <div class="container-fluid">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-content">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                  
      </button>
      <a href="#" class="navbar-brand">Under Construction</a>
    </div>

    <div class="collapse navbar-collapse" id="collapse-content">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Home</a></li>
        <li class="active"><a href="#">About</a></li>
        <li class="active"><a href="#">Services</a></li>
      </ul>
    </div>

    <div class="right-padding-holder">
      
    </div>

  </div>
</nav> 