
<div class="img-responsive">
  <div id="splash-banner">

  </div>
</div>


<a name="ceo-message"></a>
<h3 class="center">CEO's Message</h3>
<p class="center"> Having direction and purpose in life is extremely important in order for us to succeed. In today's job market, employers are seeking individuals that possess an awareness of their greatest strengths. With this developed knowledge, individuals can experience both professional and personal growth. My goal is to assist employers in the development of  individuals that have the desire to learn, thrive, and build a career. 
As a former participant in the Ohio Works First program, I was encouraged to utilize program resources in order to make a better way of life for myself. And my children. Employers invested in me because I  had the desire to learn. It is my purpose to serve people who desire the same. Generally, people just need the opportunity to BUILD their strengths; one day, one skill at a time.  After all, life is a journey where we will always be UNDER CONSTRUCTION.</p>

<h3 class="center">Soft Skills Training</h3>
<p class="center">Professional Communication</p>
<p class="center">Working Smart/Critical Thinking</p>
<p class="center">Money Management</p>
<p class="center">Job Search 101</p>
<p class="center">Interviewing Techniques</p>

<p class="center">614-654-2071</p>