<h1 class="center">Under Construction Professional Development Services</h1>
<img src="http://i.imgur.com/ezloHvx.jpg" alt="Construction Logo" class="center" />

<h3 class="center">Mission Statement</h3>
<p class="center">To provide the building blocks needed for professional development. Serving customers with integrity, respect, and consideration of their employment needs; the outcome will be strengthened communities with empowered individuals, which have obtained the knowledge of self and today’s job market.</p>

<h3 class="center">About the CEO</h3>
<p class="center">Anika Boudreaux is a Business Administration major at DeVry University.  Her minor is Small Business Entrepreneurship.  As an employee of Franklin County, she built her career in the Criminal Justice field holding six positions over a thirteen-year span. After re-entering the workforce as a participant in the Ohio Works First program, she received Interview Techniques certification, and facilitated numerous Career Development courses as a Workforce Specialist, and Job Advocate for youth. She is an active member of the Marion Franklin Civic Association. And volunteers in several capacities in her community. Using the knowledge gained from life experience, career, and educational studies, her purpose lies in helping individuals build their greatest strengths. </p>

<h3 class="center">Service</h3>
<p class="center">Career Development</p>
<p class="center">Life Coaching Skills</p>