<!DOCTYPE html>
<html>

<head>
  <title>Under Construction Professional Development Services</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- bootstrap stuff -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container-fluid">

<%= yield %>

</div>
</body>

</html>
